/* body {
  font-family: Arial;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  margin-top: 50px;
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #00c853;
  color: white;
  border: none;
  cursor: pointer;
}

.income {
  color: green;
}

.expense {
  color: red;
}

#message {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
} */

/* upgraded version */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  margin-bottom: 10px;
}

#balance {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

input, select {
  background: rgba(255,255,255,0.1);
  color: rgb(252, 251, 251);
}

button {
  background: #00c9ff;
  color: rgb(252, 248, 248);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00a6cc;
  transform: scale(1.05);
}

/* LIST DESIGN */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideUp 0.3s ease;
}

.income {
  border-left: 5px solid #00e676;
}

.expense {
  border-left: 5px solid #ff5252;
}

li button {
  background: #ff5252;
  padding: 5px 10px;
  border-radius: 8px;
}

li button:hover {
  background: #ff1744;
}

/* MESSAGE */
#message {
  margin-top: 10px;
  font-weight: bold;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}